.videoBox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.videoBox video {
  width: 49%;
  height: auto;
}

.buttonBox {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.score {
  font-size: 1.5rem;
  text-align: center;
}

.scoresBox {
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.scoreContainer {
  display: flex;
  align-items: center; /* Vertically aligns the CircularProgress and the message */
  gap: 20px; /* Adds some space between the CircularProgress and the message */
}

.scoreMessage {
  font-size: 1rem;
  color: #333; /* Optional: adjust the color of the message */
}

.recordButtons {
  gap: 15px;
  margin-bottom: 20px;
}

.recordButton,
.saveButton,
.resultButton,
.resetButton,
.prevButton,
.nextButton,
.browseQuestionButton,
.browseScenarioButton {
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s ease-in-out;
}

.recordButton {
  background-color: #4caf50;
  color: #fff;
  border: 1px solid #45a049;
}

.recordButton:hover {
  background-color: #45a049;
  transform: translateY(-2px);
}

.recordButton:active {
  background-color: #388e3c;
  transform: translateY(0);
}

.saveButton {
  background-color: #2196f3;
  color: #fff;
  border: 1px solid #1e88e5;
}

.saveButton:hover {
  background-color: #1e88e5;
  transform: translateY(-2px);
}

.saveButton:active {
  background-color: #1976d2;
  transform: translateY(0);
}

.resultButton {
  background-color: #ffc107;
  color: #fff;
  border: 1px solid #ffb300;
}

.resultButton:hover {
  background-color: #ffb300;
  transform: translateY(-2px);
}

.resultButton:active {
  background-color: #ff8f00;
  transform: translateY(0);
}

.resetButton {
  background-color: #f44336;
  color: #fff;
  border: 1px solid #e53935;
  margin-top: 10px;
}

.resetButton:hover {
  background-color: #e53935;
  transform: translateY(-2px);
}

.resetButton:active {
  background-color: #d32f2f;
  transform: translateY(0);
}

.prevButton,
.nextButton {
  display: inline-block;
  width: 90px;
  padding: 10px 0;
  font-size: 0.9rem;
  background-color: #ff5722;
  color: #fff;
  border: 1px solid #e64a19;
}

.prevButton:hover,
.nextButton:hover {
  background-color: #e64a19;
  transform: translateY(-2px);
}

.prevButton:active,
.nextButton:active {
  background-color: #d84315;
  transform: translateY(0);
}

.browseQuestionButton,
.browseScenarioButton {
  background-color: #607d8b;
  color: #fff;
  border: 1px solid #546e7a;
}

.browseQuestionButton:hover,
.browseScenarioButton:hover {
  background-color: #546e7a;
  transform: translateY(-2px);
}

.browseQuestionButton:active,
.browseScenarioButton:active {
  background-color: #455a64;
  transform: translateY(0);
}

.browseSectionContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.browseSection {
  width: 45%;
}

.browseButton {
  width: 100%;
  padding: 12px 20px;
  font-size: 16px;
  text-align: center;
  background-color: #90a4ae;
  color: #fff;
  border: 1px solid #78909c;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.browseButton:hover {
  background-color: #78909c;
}

.questionList,
.scenarioList {
  margin-top: 10px;
}

.questionButton,
.scenarioButton {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  padding: 12px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  cursor: pointer;
  text-align: left;
  transition: background-color 0.3s;
  border-radius: 8px;
}

.questionButton:disabled,
.scenarioButton:disabled {
  background-color: #f5f5f5;
  cursor: not-allowed;
}

.questionButton:hover,
.scenarioButton:hover {
  background-color: #eeeeee;
}

.itemSlideshow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.itemSlideshow h3 {
  font-size: 2rem;
  margin-top: 60px;
  margin-bottom: 10px;
}

.itemSlideshow .buttonContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
}
