@use "@App/styles/colors.scss" as *;

.page_container {
  display: flex;
  height: 100vh;
  background-color: $background;
}
.container {
  padding: 2rem;
  width: 100%;
}

.mainContainer {
  height: 100%;
}
